### ArchLinuxPackages ###
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

# User
*.bak

# Zsh custom remote plugins
.config/zsh/custom/plugins/fast-syntax-highlighting
.config/zsh/custom/plugins/zsh*
